@import "./variables";

.settings {
  height: $toolbar-height;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 2px 2px gray;
  position: relative;
  z-index: 1;
}

input, label {
  margin-left: 10px;
}